<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Review\Block\Form" type="Riverstone\ProductReviews\Block\Form"/>
    <preference for="Magento\Review\Block\Adminhtml\Edit\Form"
                type="Riverstone\ProductReviews\Block\Adminhtml\Edit\Form"/>z
</config>
